---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?latitude=38.630276&longitude=-90.200309&term=tacos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer fCc7yH1YzNRLBhpqyvrH6NAkFGdgZtoGnNZYGe7Bm7573mZ7L3Y5YVlONV8px7Oky3zzBxzsdmpeW7Fwa3oNUdsjXcVkti-6liGmXNFy7IffmBbx2eCtw8vdouhlYnYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Resettime:
      - '2022-04-26T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--useast1-596b8677dc-f26tp; site=public_api_v3
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4996'
      X-Zipkin-Id:
      - 319d0074e33313c1
      X-Cloudmap:
      - routing_useast1
      X-Proxied:
      - 10-65-164-1-useast1bprod
      X-Extlb:
      - 10-65-164-1-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "1yrGx3Cwtj7I0zmhuVsu9Q", "alias": "blts-breakfast-lunch-and-tacos-st-louis",
        "name": "BLT''s - Breakfast, Lunch and Tacos", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/i-fRG8nTlAYzuNA_uMQoCA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/blts-breakfast-lunch-and-tacos-st-louis?adjust_creative=HpJeyNvw52L4ND8Cc3A7JA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=HpJeyNvw52L4ND8Cc3A7JA",
        "review_count": 265, "categories": [{"alias": "breakfast_brunch", "title":
        "Breakfast & Brunch"}, {"alias": "tacos", "title": "Tacos"}, {"alias": "venues",
        "title": "Venues & Event Spaces"}], "rating": 4.0, "coordinates": {"latitude":
        38.6304229, "longitude": -90.1890618}, "transactions": ["pickup", "delivery"],
        "price": "$$", "location": {"address1": "626 N 6th St", "address2": null,
        "address3": null, "city": "St. Louis", "zip_code": "63101", "country": "US",
        "state": "MO", "display_address": ["626 N 6th St", "St. Louis, MO 63101"]},
        "phone": "+13149258505", "display_phone": "(314) 925-8505", "distance": 1004.7449281621678},
        {"id": "-wjASAa3rySsmY9CIGRm9A", "alias": "locoz-tacos-saint-louis", "name":
        "Locoz Tacos", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/KGSF4zyb1KMbwTxYZWDszA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/locoz-tacos-saint-louis?adjust_creative=HpJeyNvw52L4ND8Cc3A7JA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=HpJeyNvw52L4ND8Cc3A7JA",
        "review_count": 20, "categories": [{"alias": "foodtrucks",[...]
