---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=XLUtI-JXRj86iiI0VsYn_r6oucR3SpukKJXKr0cm77g&per_page=1&query=denver,%20co%20scattered%20clouds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?client_id=XLUtI-JXRj86iiI0VsYn_r6oucR3SpukKJXKr0cm77g&page=10000&per_page=1&query=denver%2C+co+scattered+clouds>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=XLUtI-JXRj86iiI0VsYn_r6oucR3SpukKJXKr0cm77g&page=2&per_page=1&query=denver%2C+co+scattered+clouds>;
        rel="next"
      X-Total:
      - '10000'
      X-Per-Page:
      - '1'
      Content-Language:
      - en
      Etag:
      - W/"b158a930398210d15e9d5f61f60fe884"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":10000,"total_pages":10000,"results":[{"id":"lkLTeBY2SZE","created_at":"2017-11-21T12:43:55-05:00","updated_at":"2022-04-23T17:02:25-04:00","promoted_at":null,"width":4000,"height":6000,"color":"#f3f3f3","blur_hash":"LuKK~G~qWVIU-;tRM|RPRiWAWAoL","description":"Blue
        Bear Looking In","alt_description":"blue bear leaning on glass building","urls":{"raw":"https://images.unsplash.com/photo-1511286148006-ec48824e3282?ixid=MnwzMjIzODZ8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkMlMjBjbyUyMHNjYXR0ZXJlZCUyMGNsb3Vkc3xlbnwwfHx8fDE2NTA4MzA4MzQ\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1511286148006-ec48824e3282?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwzMjIzODZ8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkMlMjBjbyUyMHNjYXR0ZXJlZCUyMGNsb3Vkc3xlbnwwfHx8fDE2NTA4MzA4MzQ\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1511286148006-ec48824e3282?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzMjIzODZ8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkMlMjBjbyUyMHNjYXR0ZXJlZCUyMGNsb3Vkc3xlbnwwfHx8fDE2NTA4MzA4MzQ\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1511286148006-ec48824e3282?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzMjIzODZ8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkMlMjBjbyUyMHNjYXR0ZXJlZCUyMGNsb3Vkc3xlbnwwfHx8fDE2NTA4MzA4MzQ\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1511286148006-ec48824e3282?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzMjIzODZ8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkMlMjBjbyUyMHNjYXR0ZXJlZCUyMGNsb3Vkc3xlbnwwfHx8fDE2NTA4MzA4MzQ\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1511286148006-ec48824e3282"},"links":{"self":"https://api.unsplash.com/photos/lkLTeBY2SZE","html":"https://unsplash.com/photos/lkLTeBY2SZE","download":"https://unsplash.com/photos/lkLTeBY2SZE/download?ixid=MnwzMjIzODZ8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkMlMjBjbyUyMHNjYXR0ZXJlZCUyMGNsb3Vkc3xlbnwwfHx8fDE2NTA4MzA4MzQ","download_location":"https://api.unsplash.com/photos/lkLTeBY2SZE/download?ixid=MnwzMjIzODZ8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkMlMjBjbyUyMHNjYXR0ZXJlZCUyMGNsb3Vkc3xlbnwwfHx8fDE2NTA4MzA4MzQ"},"categories":[],"likes":774,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"7i6Pgr7iunM","updated_at":"2022-04-23T08:45:37-04:00","username":"mirandafayj","name":"Miranda
        Joondeph","first_name":"Miranda","last_name":"Joondeph","twitter_username":null,"portfolio_url":"http://www.mirandafayj.com","bio":"Graphic
        Designer | Photographer | Hand Letterer","location":"Denver, CO","links":{"self":"https://api.unsplash.com/users/mirandafayj","html":"https://unsplash.com/@mirandafayj","photos":"https://api.unsplash.com/users/mirandafayj/photos","likes":"https://api.unsplash.com/users/mirandafayj/likes","portfolio":"https://api.unsplash.com/users/mirandafayj/portfolio","following":"https://api.unsplash.com/users/mirandafayj/following","followers":"https://api.unsplash.com/users/mirandafayj/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1511368442822-cb58663a88dd?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1511368442822-cb58663a88dd?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1511368442822-cb58663a88dd?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"mirandafayj","total_collections":0,"total_likes":1,"total_photos":1,"accepted_tos":false,"for_hire":false,"social":{"instagram_username":"mirandafayj","portfolio_url":"http://www.mirandafayj.com","twitter_username":null,"paypal_email":null}},"tags":[{"type":"search","title":"denver"}]}]}'
  recorded_at: Sun, 24 Apr 2022 20:07:14 GMT
recorded_with: VCR 6.1.0
