---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=XLUtI-JXRj86iiI0VsYn_r6oucR3SpukKJXKr0cm77g&per_page=1&query=st.%20louis,%20mo%20cloudy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?client_id=XLUtI-JXRj86iiI0VsYn_r6oucR3SpukKJXKr0cm77g&page=10000&per_page=1&query=st.+louis%2C+mo+cloudy>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=XLUtI-JXRj86iiI0VsYn_r6oucR3SpukKJXKr0cm77g&page=2&per_page=1&query=st.+louis%2C+mo+cloudy>;
        rel="next"
      X-Total:
      - '10000'
      X-Per-Page:
      - '1'
      Content-Language:
      - en
      Etag:
      - W/"1ead656c0c90a9fb51412c1ae3f75e42"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"total":10000,"total_pages":10000,"results":[{"id":"wRM4bTG-Yok","created_at":"2021-01-06T16:05:53-05:00","updated_at":"2022-04-23T22:18:17-04:00","promoted_at":null,"width":4000,"height":6000,"color":"#d9d9d9","blur_hash":"LxIYRlt7M{of_Nf6RjjtDiV@j[WB","description":"vivid
        trees in the chilling mist","alt_description":"red and green trees on mountain","urls":{"raw":"https://images.unsplash.com/photo-1609967059589-d7f214e002d5?ixid=MnwzMjIzODZ8MHwxfHNlYXJjaHwxfHxzdC4lMjBsb3VpcyUyQyUyMG1vJTIwY2xvdWR5fGVufDB8fHx8MTY1MDgyNzA3OQ\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1609967059589-d7f214e002d5?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwzMjIzODZ8MHwxfHNlYXJjaHwxfHxzdC4lMjBsb3VpcyUyQyUyMG1vJTIwY2xvdWR5fGVufDB8fHx8MTY1MDgyNzA3OQ\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1609967059589-d7f214e002d5?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzMjIzODZ8MHwxfHNlYXJjaHwxfHxzdC4lMjBsb3VpcyUyQyUyMG1vJTIwY2xvdWR5fGVufDB8fHx8MTY1MDgyNzA3OQ\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1609967059589-d7f214e002d5?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzMjIzODZ8MHwxfHNlYXJjaHwxfHxzdC4lMjBsb3VpcyUyQyUyMG1vJTIwY2xvdWR5fGVufDB8fHx8MTY1MDgyNzA3OQ\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1609967059589-d7f214e002d5?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzMjIzODZ8MHwxfHNlYXJjaHwxfHxzdC4lMjBsb3VpcyUyQyUyMG1vJTIwY2xvdWR5fGVufDB8fHx8MTY1MDgyNzA3OQ\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1609967059589-d7f214e002d5"},"links":{"self":"https://api.unsplash.com/photos/wRM4bTG-Yok","html":"https://unsplash.com/photos/wRM4bTG-Yok","download":"https://unsplash.com/photos/wRM4bTG-Yok/download?ixid=MnwzMjIzODZ8MHwxfHNlYXJjaHwxfHxzdC4lMjBsb3VpcyUyQyUyMG1vJTIwY2xvdWR5fGVufDB8fHx8MTY1MDgyNzA3OQ","download_location":"https://api.unsplash.com/photos/wRM4bTG-Yok/download?ixid=MnwzMjIzODZ8MHwxfHNlYXJjaHwxfHxzdC4lMjBsb3VpcyUyQyUyMG1vJTIwY2xvdWR5fGVufDB8fHx8MTY1MDgyNzA3OQ"},"categories":[],"likes":7,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{"nature":{"status":"rejected"}},"user":{"id":"SFsgotjXYr4","updated_at":"2022-04-23T11:45:42-04:00","username":"sid_suratia","name":"Sid
        Suratia","first_name":"Sid","last_name":"Suratia","twitter_username":null,"portfolio_url":null,"bio":"Just
        a teenager looking to inspire and be inspired by moments captured a frame
        at a time. \r\n\"Anything for the shot\"","location":"St.Louis","links":{"self":"https://api.unsplash.com/users/sid_suratia","html":"https://unsplash.com/@sid_suratia","photos":"https://api.unsplash.com/users/sid_suratia/photos","likes":"https://api.unsplash.com/users/sid_suratia/likes","portfolio":"https://api.unsplash.com/users/sid_suratia/portfolio","following":"https://api.unsplash.com/users/sid_suratia/following","followers":"https://api.unsplash.com/users/sid_suratia/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1597018970218-dcb338609c3fimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1597018970218-dcb338609c3fimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1597018970218-dcb338609c3fimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"suratia.jpg","total_collections":4,"total_likes":5,"total_photos":94,"accepted_tos":true,"for_hire":false,"social":{"instagram_username":"suratia.jpg","portfolio_url":null,"twitter_username":null,"paypal_email":null}},"tags":[{"type":"search","title":"mo"},{"type":"search","title":"usa"}]}]}'
  recorded_at: Sun, 24 Apr 2022 19:10:29 GMT
recorded_with: VCR 6.1.0
