---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<openweather_key>&exclude=minutely,alerts&lat=38.627&lon=-90.1994&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.627,"lon":-90.1994,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1650751146,"sunrise":1650712400,"sunset":1650761070,"temp":83.88,"feels_like":82.6,"pressure":1011,"humidity":36,"dew_point":54.09,"uvi":1.81,"clouds":71,"visibility":10000,"wind_speed":19.13,"wind_deg":180,"wind_gust":35.84,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1650747600,"temp":82.98,"feels_like":82.31,"pressure":1011,"humidity":40,"dew_point":56.19,"uvi":3.99,"clouds":69,"visibility":10000,"wind_speed":19.95,"wind_deg":179,"wind_gust":35.46,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1650751200,"temp":83.88,"feels_like":82.6,"pressure":1011,"humidity":36,"dew_point":54.09,"uvi":1.81,"clouds":71,"visibility":10000,"wind_speed":19.13,"wind_deg":180,"wind_gust":35.84,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1650754800,"temp":82.22,"feels_like":81.75,"pressure":1011,"humidity":41,"dew_point":56.19,"uvi":0.68,"clouds":72,"visibility":10000,"wind_speed":18.77,"wind_deg":180,"wind_gust":35.03,"weather":[{"id":[...]
