---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?latitude=38.630276&longitude=-90.200309&open_now=true&term=tacos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer fCc7yH1YzNRLBhpqyvrH6NAkFGdgZtoGnNZYGe7Bm7573mZ7L3Y5YVlONV8px7Oky3zzBxzsdmpeW7Fwa3oNUdsjXcVkti-6liGmXNFy7IffmBbx2eCtw8vdouhlYnYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4992'
      X-Zipkin-Id:
      - 74c04b1f6508518a
      Ratelimit-Resettime:
      - '2022-04-26T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--useast1-86bc69788c-5lsm8; site=public_api_v3
      X-Cloudmap:
      - routing_useast1
      X-Proxied:
      - 10-65-85-173-useast1aprod
      X-Extlb:
      - 10-65-85-173-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "1yrGx3Cwtj7I0zmhuVsu9Q", "alias": "blts-breakfast-lunch-and-tacos-st-louis",
        "name": "BLT''s - Breakfast, Lunch and Tacos", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/i-fRG8nTlAYzuNA_uMQoCA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/blts-breakfast-lunch-and-tacos-st-louis?adjust_creative=HpJeyNvw52L4ND8Cc3A7JA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=HpJeyNvw52L4ND8Cc3A7JA",
        "review_count": 265, "categories": [{"alias": "breakfast_brunch", "title":
        "Breakfast & Brunch"}, {"alias": "tacos", "title": "Tacos"}, {"alias": "venues",
        "title": "Venues & Event Spaces"}], "rating": 4.0, "coordinates": {"latitude":
        38.6304229, "longitude": -90.1890618}, "transactions": ["pickup", "delivery"],
        "price": "$$", "location": {"address1": "626 N 6th St", "address2": null,
        "address3": null, "city": "St. Louis", "zip_code": "63101", "country": "US",
        "state": "MO", "display_address": ["626 N 6th St", "St. Louis, MO 63101"]},
        "phone": "+13149258505", "display_phone": "(314) 925-8505", "distance": 1004.7449281621678},
        {"id": "k2fvyjaTNYFQJw757Bgqbg", "alias": "padrinos-mexican-restaurant-st-louis",
        "name": "Padrinos Mexican Restaurant", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/AeCDEbkjH-M4uZZ_bR5x4g/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/padrinos-mexican-restaurant-st-louis?adjust_creative=HpJeyNvw52L4ND8Cc3A7JA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=HpJeyNvw52L4ND8Cc3A7JA",
        "review_count": [...]
