---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=st.%20louis,%20mo&open_now=true&term=tacos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer fCc7yH1YzNRLBhpqyvrH6NAkFGdgZtoGnNZYGe7Bm7573mZ7L3Y5YVlONV8px7Oky3zzBxzsdmpeW7Fwa3oNUdsjXcVkti-6liGmXNFy7IffmBbx2eCtw8vdouhlYnYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--useast1-6df47595db-mzdqw; site=public_api_v3
      Ratelimit-Remaining:
      - '4995'
      Ratelimit-Resettime:
      - '2022-04-27T00:00:00+00:00'
      X-Zipkin-Id:
      - f975828c4c124c3e
      Ratelimit-Dailylimit:
      - '5000'
      X-Cloudmap:
      - routing_useast1
      X-Proxied:
      - 10-65-133-10-useast1bprod
      X-Extlb:
      - 10-65-133-10-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "TPDnR26QPqU9sWanjd-ldg", "alias": "terror-tacos-st-louis",
        "name": "Terror Tacos", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/MfsvbBSDEvoRzIjlRuNNLg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/terror-tacos-st-louis?adjust_creative=HpJeyNvw52L4ND8Cc3A7JA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=HpJeyNvw52L4ND8Cc3A7JA",
        "review_count": 76, "categories": [{"alias": "tacos", "title": "Tacos"}, {"alias":
        "vegan", "title": "Vegan"}], "rating": 4.5, "coordinates": {"latitude": 38.599607,
        "longitude": -90.24299}, "transactions": ["delivery"], "price": "$", "location":
        {"address1": "3191 S Grand Blvd", "address2": null, "address3": "", "city":
        "St. Louis", "zip_code": "63118", "country": "US", "state": "MO", "display_address":
        ["3191 S Grand Blvd", "St. Louis, MO 63118"]}, "phone": "+13142609996", "display_phone":
        "(314) 260-9996", "distance": 5955.319122848431}, {"id": "k2fvyjaTNYFQJw757Bgqbg",
        "alias": "padrinos-mexican-restaurant-st-louis", "name": "Padrinos Mexican
        Restaurant", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/AeCDEbkjH-M4uZZ_bR5x4g/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/padrinos-mexican-restaurant-st-louis?adjust_creative=HpJeyNvw52L4ND8Cc3A7JA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=HpJeyNvw52L4ND8Cc3A7JA",
        "review_count": 3[...]
