---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<openweather_key>&exclude=minutely,alerts&lat=38.627&lon=-90.1994&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.6303,"lon":-90.2003,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1650991422,"sunrise":1650971367,"sunset":1651020445,"temp":52.07,"feels_like":49.33,"pressure":1030,"humidity":50,"dew_point":34.03,"uvi":7.14,"clouds":0,"visibility":10000,"wind_speed":9.22,"wind_deg":310,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1650988800,"temp":51.53,"feels_like":48.63,"pressure":1030,"humidity":48,"dew_point":32.5,"uvi":5.65,"clouds":0,"visibility":10000,"wind_speed":11.23,"wind_deg":327,"wind_gust":15.68,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1650992400,"temp":52.07,"feels_like":49.33,"pressure":1030,"humidity":50,"dew_point":34.03,"uvi":7.14,"clouds":0,"visibility":10000,"wind_speed":11.21,"wind_deg":323,"wind_gust":15.39,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1650996000,"temp":52.56,"feels_like":49.71,"pressure":1030,"humidity":47,"dew_point":32.94,"uvi":7.72,"clouds":0,"visibility":10000,"wind_speed":11.12,"wind_deg":320,"wind_gust":15.03,"weather":[{"id":800,"m[...]
