---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=dAFPettxbluB2HDNjJSQTo8DUudlJvl5&location=St.%20Louis,%20MO&outFormat=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 25 Apr 2022 22:15:52 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"St.
        Louis, MO"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"St
        Louis","adminArea5Type":"City","adminArea4":"St. Louis County","adminArea4Type":"County","adminArea3":"MO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282092004","unknownInput":"","type":"s","latLng":{"lat":38.630276,"lng":-90.200309},"displayLatLng":{"lat":38.630276,"lng":-90.200309},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=dAFPettxbluB2HDNjJSQTo8DUudlJvl5&type=map&size=225,160&locations=38.630276,-90.200309|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-790478829"}]}]}'
  recorded_at: Mon, 25 Apr 2022 22:15:52 GMT
recorded_with: VCR 6.1.0
