---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=dAFPettxbluB2HDNjJSQTo8DUudlJvl5&location=denver,%20co&outFormat=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 24 Apr 2022 20:21:54 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,
        co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=dAFPettxbluB2HDNjJSQTo8DUudlJvl5&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-2142827612"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=dAFPettxbluB2HDNjJSQTo8DUudlJvl5&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=387082961"}]}]}'
  recorded_at: Sun, 24 Apr 2022 20:21:54 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<openweather_key>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1650831714,"sunrise":1650802158,"sunset":1650851188,"temp":51.8,"feels_like":48.24,"pressure":1017,"humidity":33,"dew_point":24.6,"uvi":5.52,"clouds":100,"visibility":10000,"wind_speed":5.99,"wind_deg":52,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1650830400,"temp":51.8,"feels_like":48.24,"pressure":1017,"humidity":33,"dew_point":24.6,"uvi":5.52,"clouds":100,"visibility":10000,"wind_speed":13.82,"wind_deg":36,"wind_gust":9.26,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.43},{"dt":1650834000,"temp":52.29,"feels_like":48.67,"pressure":1017,"humidity":31,"dew_point":23.65,"uvi":4.4,"clouds":100,"visibility":10000,"wind_speed":13.6,"wind_deg":32,"wind_gust":11.16,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.43},{"dt":1650837600,"temp":52.81,"feels_like":49.1,"pressure":1016,"humidity":28,"dew_point":21.92,"uvi":2.77,"clouds":100,"visibility":10000,"wind_speed":11.63,"wind_deg":36,"wind_gust":10.51,"weather":[[...]
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=XLUtI-JXRj86iiI0VsYn_r6oucR3SpukKJXKr0cm77g&per_page=1&query=denver,%20co%20overcast%20clouds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?client_id=XLUtI-JXRj86iiI0VsYn_r6oucR3SpukKJXKr0cm77g&page=10000&per_page=1&query=denver%2C+co+overcast+clouds>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=XLUtI-JXRj86iiI0VsYn_r6oucR3SpukKJXKr0cm77g&page=2&per_page=1&query=denver%2C+co+overcast+clouds>;
        rel="next"
      X-Total:
      - '10000'
      X-Per-Page:
      - '1'
      Content-Language:
      - en
      Etag:
      - W/"adbf415ad88f370dc9eba0881d2cf438"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"total":10000,"total_pages":10000,"results":[{"id":"lkLTeBY2SZE","created_at":"2017-11-21T12:43:55-05:00","updated_at":"2022-04-23T17:02:25-04:00","promoted_at":null,"width":4000,"height":6000,"color":"#f3f3f3","blur_hash":"LuKK~G~qWVIU-;tRM|RPRiWAWAoL","description":"Blue
        Bear Looking In","alt_description":"blue bear leaning on glass building","urls":{"raw":"https://images.unsplash.com/photo-1511286148006-ec48824e3282?ixid=MnwzMjIzODZ8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkMlMjBjbyUyMG92ZXJjYXN0JTIwY2xvdWRzfGVufDB8fHx8MTY1MDgzMTA1OQ\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1511286148006-ec48824e3282?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwzMjIzODZ8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkMlMjBjbyUyMG92ZXJjYXN0JTIwY2xvdWRzfGVufDB8fHx8MTY1MDgzMTA1OQ\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1511286148006-ec48824e3282?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzMjIzODZ8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkMlMjBjbyUyMG92ZXJjYXN0JTIwY2xvdWRzfGVufDB8fHx8MTY1MDgzMTA1OQ\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1511286148006-ec48824e3282?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzMjIzODZ8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkMlMjBjbyUyMG92ZXJjYXN0JTIwY2xvdWRzfGVufDB8fHx8MTY1MDgzMTA1OQ\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1511286148006-ec48824e3282?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzMjIzODZ8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkMlMjBjbyUyMG92ZXJjYXN0JTIwY2xvdWRzfGVufDB8fHx8MTY1MDgzMTA1OQ\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1511286148006-ec48824e3282"},"links":{"self":"https://api.unsplash.com/photos/lkLTeBY2SZE","html":"https://unsplash.com/photos/lkLTeBY2SZE","download":"https://unsplash.com/photos/lkLTeBY2SZE/download?ixid=MnwzMjIzODZ8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkMlMjBjbyUyMG92ZXJjYXN0JTIwY2xvdWRzfGVufDB8fHx8MTY1MDgzMTA1OQ","download_location":"https://api.unsplash.com/photos/lkLTeBY2SZE/download?ixid=MnwzMjIzODZ8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkMlMjBjbyUyMG92ZXJjYXN0JTIwY2xvdWRzfGVufDB8fHx8MTY1MDgzMTA1OQ"},"categories":[],"likes":774,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"7i6Pgr7iunM","updated_at":"2022-04-23T08:45:37-04:00","username":"mirandafayj","name":"Miranda
        Joondeph","first_name":"Miranda","last_name":"Joondeph","twitter_username":null,"portfolio_url":"http://www.mirandafayj.com","bio":"Graphic
        Designer | Photographer | Hand Letterer","location":"Denver, CO","links":{"self":"https://api.unsplash.com/users/mirandafayj","html":"https://unsplash.com/@mirandafayj","photos":"https://api.unsplash.com/users/mirandafayj/photos","likes":"https://api.unsplash.com/users/mirandafayj/likes","portfolio":"https://api.unsplash.com/users/mirandafayj/portfolio","following":"https://api.unsplash.com/users/mirandafayj/following","followers":"https://api.unsplash.com/users/mirandafayj/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1511368442822-cb58663a88dd?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1511368442822-cb58663a88dd?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1511368442822-cb58663a88dd?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"mirandafayj","total_collections":0,"total_likes":1,"total_photos":1,"accepted_tos":false,"for_hire":false,"social":{"instagram_username":"mirandafayj","portfolio_url":"http://www.mirandafayj.com","twitter_username":null,"paypal_email":null}},"tags":[{"type":"search","title":"denver"}]}]}'
  recorded_at: Sun, 24 Apr 2022 20:21:54 GMT
recorded_with: VCR 6.1.0
